*.eps
*.pdf
*.out
*.sbat
*.txt
.Rhistory
._*
*png
.DS_Store
data/hpc/snp_matrices_and_parsed_data/*_allele_mat_unsplit_no_ig.tsv
data/hpc/snp_matrices_and_parsed_data/*_annot_split_no_overlap_no_ig.tsv
